show
gtk/show
mysql/sql
*.x
*~
*.swp
*.swo
test
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vim
find
.
-size
+3M
.
-size
./.git/objects/pack/pack-1582ebeb1550a89f6b1a6a649864816b8e25837b.pack
